NEXT_PUBLIC_POLLY_ENDPOINT=http://localhost:8080/
NEXT_PUBLIC_LOVDATA_LOV_BASE_URL=https://lovdata.no/lov/
NEXT_PUBLIC_LOVDATA_FORSKRIFT_BASE_URL=https://lovdata.no/forskrift/
NEXT_PUBLIC_TEAMKAT_BASE_URL=https://teamkatalog.nav.no/
NEXT_PUBLIC_SLACK_ID=
NEXT_PUBLIC_DEFAULT_START_DATE=0001-01-01
NEXT_PUBLIC_DISABLE_RISK_OWNER=false
NEXT_PUBLIC_DISABLE_DP_PROCESS=false
