#Maven
target

#IntelliJ
*.iml
*.iws
*.idea
atlassian-ide-plugin.xml

#Eclipse
.classpath
.project
.settings

*.tm*.epoch
'.lck
*.log
testDb.properties

**/application-t*.properties
**/application-q*.properties