version: '3.7'
services:
  postgres:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=datacatalog
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.1
    restart: always
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.type=single-node"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  kibana:
    image: docker.elastic.co/kibana/kibana:7.3.1
    ports:
      - 5601:5601

  polly:
    image: navikt/polly:latest
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - "ELASTICSEARCH_HOST=elasticsearch"
      - "POSTGRES_URL=jdbc:postgresql://postgres:5432/datacatalog"
    ports:
      - 8081:8080
    volumes:
      - ./travis/datajegerne-private-key.pem:/etc/secret/datajegerne

volumes:
  esdata:
  postgres:
